<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dynamic.grade.dao.GradeDAO">

    <resultMap id="baseResultPO" type="com.example.dynamic.entity.grade.domain.GradePO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="stu_id" property="stuId" jdbcType="INTEGER" />
        <result column="grade" property="grade" jdbcType="INTEGER" />
    </resultMap>

    <sql id="selectAll">
        <choose>
            <when test="selectFields != null">
                <trim suffixOverrides=",">
                    <foreach collection="selectFields" item="selectField">
                        ${selectField},
                    </foreach>
                </trim>
            </when>
            <otherwise>*</otherwise>
        </choose>
    </sql>

    <sql id="setAll">
        <set>
            <if test="setParams.stuId != null">`stu_id`=#{setParams.stuId},</if>
            <if test="setParams.grade != null">`grade`=#{setParams.grade},</if>
        </set>
    </sql>

    <sql id="whereAll">
        <where>
            <if test="whereParams.id != null">AND `id`=#{whereParams.id}</if>
            <if test="whereParams.stuId != null">AND `stu_id`=#{whereParams.stuId}</if>
            <if test="whereParams.grade != null">AND `grade`=#{whereParams.grade}</if>
        </where>
    </sql>
    <sql id="sortAll">
        <if test="whereParams.sortBy != null and whereParams.sortBy != '' and whereParams.direction != null and whereParams.direction != ''">
            order by ${whereParams.sortBy} ${whereParams.direction}, id
        </if>
    </sql>
    <sql id="pagingAll">
        <if test="pageParams != null and pageParams.offset != null and pageParams.limit != null">
            limit #{pageParams.offset}, #{pageParams.limit}
        </if>
    </sql>


</mapper>